html {
    scroll-behavior: smooth;
}

body {
  background-color: #FBFCFF;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

p {
  text-align: center;
}

/* STYLING FOR THE NAVBAR */

.navbar {
    width: 100%;
    background-color: black;
    overflow: auto;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color:lightgray;
    color: black;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #4CAF50;
  }

/* STYLING FOR THE HEADER */

h1 {
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  margin: 25px;
  padding-top: 50px;
}


header {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
}

header:before {
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)),
              url(https://cssanimation.rocks/levelup/public/images/background.jpg) no-repeat bottom;
  background-size: cover;
  content: "";
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: -1;
}

header:after {
  background: #F9FCFF;
  content: "";
  height: 40rem;
  left: -5%;
  position: absolute;
    right: -5%;
    top: 90%;
  transform-origin: 0 0;
  transform: rotateZ(-4deg);
  z-index: 0;
}

.header-title, .header-subtitle {
  color: black;
}

.header-subtitle {
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.animate-pop-in {
  animation: pop-in .6s ease-out forwards;
  opacity: 0;
}

.header-title {
  animation-delay: 1.2s;
}

.header-subtitle {
  animation-delay: 1.4s;
}

/* ANIMATIONS HEADER */

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
 
/* STYLING FOR THE ABOUT SECTION */

.about-heading {
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
  color: white;
  margin: 0 0 0 0;
  -ms-transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  transform: skewY(-4deg);
  padding-top: 10px; 
}

#header-para {
  text-align: center;
}

.about-paragraph {
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  height: 30vh;
  color: white;
  padding-bottom: 10px;
  -ms-transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  transform: skewY(-4deg);
}

.about-container {
  background-color: black;
  -ms-transform: skewY(4deg);
  -webkit-transform: skewY(4deg);
  transform: skewY(4deg);
}

/* STYLING FOR THE EDUCATION SECTION */
.education-container {
  text-align: center;
  font-size: 18px;
}

.education-heading {
  color: white;
  background-color: black;
  height: 20vh;
  -ms-transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  transform: skewY(-4deg);
  padding-top: 30px;
}

.unskew-one {
  -ms-transform: skewY(4deg);
  -webkit-transform: skewY(4deg);
  transform: skewY(4deg);
  font-size: 40px;
}

/* STYLING FOR THE WORK EXPERIENCE SECTION */

.work-container {
  text-align: center;
  font-size: 18px;
}

/* STYLING FOR THE MY PROJECTS SECTION */

.projects-heading {
  color: white;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
}

.row {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 0 4px;
  padding-top: 25px;
}

.column img {
  height: 100%;
  width: 100%;
}

.column img:hover {
  background-color: rgba(0, 0, 0, 0.685);
}

/* STYLING FOR THE FOOTER SECTION */

.footer {
  padding-top: 25px;
  font-size: 17px;
}

.icons {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  padding-top: 15px;
}

.contact-heading {
  color: white;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 30px;
}

/* STYLING THE PARALLAX */

.parallax { 
    /* The image used */
    background-image: url(../img/4c2de5df7ec88fb93d5f89cd68600ddd.jpg); 

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2 { 
    /* The image used */
    background-image: url(../img/api.c99e353f761d.gif); 

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* _________________________ Media Queries ________________ */

@media only screen and (max-device-width: 1366px) {
  .parallax {
      background-attachment: scroll;
  }
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 480px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }

  .row {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    padding: 0 5%;
    padding-top: 25px;
  }

  .about-heading {
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    margin: 0 0 0 0;
    -ms-transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
    padding-top: 10px; 
  }

  .parallax-2 {
    background-attachment: scroll;
  }

  .about-container {
    background-color: black;
    -ms-transform: skewY(4deg);
    -webkit-transform: skewY(4deg);
    transform: skewY(4deg);
    height: 100vh;
  }

  .education-heading {
    color: white;
    background-color: black;
    height: 30vh;
    -ms-transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
    padding-top: 30px;
  }

  .unskew-one {
    -ms-transform: skewY(4deg);
    -webkit-transform: skewY(4deg);
    transform: skewY(4deg);
    font-size: 30px;
    padding-bottom: 1%;
  }
  
  h1 {
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    margin: 25px;
    padding-top: 50px;
  }

  p {
    text-align: center;
    font-size: 15px;
  }
}

/* @media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
} */